:root{
    --main: #eeebff;
    --second:#ffc5c5;
    --accent: #2290c4;
    --dark:#2c0202;
}
body{
    background-color: var(--main);
}
main{
    background-color: var(--second);
    border-radius: 25px;
    position: fixed;
    top: 15vh;
    left:  5vw;
    width: 90vw;
    height: 70vh;
    border: var(--accent) solid 5px;
    overflow-y: scroll;

}
main >*{
    margin: 20px;
}
main .preview{
    width: fit-content;
    max-width: 60%;
    /* min-width: 60%; */
    max-height: 90%;
    /* min-height: 40%; */
    box-shadow: 10px 10px 25px 2px;
    background-color: var(--main);
    border: solid var(--accent) 5px;
    border-radius: 5px;
    padding: 5px; 
    object-fit:contain;
}
main embed.prview, main iframe.preview{
    min-width: 60%;
}
main .files{
    background-color: var(--main);
    border-radius: 25px;
    border: solid var(--accent) 5px;
    padding: 15px;
    display: flex;
    flex-flow:wrap row ;
    gap: 20px;
}
main .files .file{
    border: solid var(--accent);
    background-color: var(--second);
    border-radius: 25px;
    padding: 10px;
    width: 45%;
}
header{
background-color: var(--second);
position: fixed;
top: 0;
left: 0;
height: 10vh;
width: 100vw;
border-bottom: var(--accent) solid 5px;
}
header h1{
    font-family:Arial, Helvetica, sans-serif;
}

footer{
background-color: var(--second);
position: fixed;
bottom: 0;
left: 0;
height: 10vh;
width: 100vw;
border-top: var(--accent) solid 5px;
}
button{
    cursor: pointer;
}