<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home: {{session['name']}} </title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
</head>

<body>
    <header>
        <h1>file uploader</h1>
    </header>
    <main>
        <a href="{{url_for('upload')}}"><button>upload file</button></a>
        <div>
            {% for file in files%}
            <div>
                <h3>{{file['name']}} ( <i>{{file['mimetype']}}</i> )</h3>
                <button class="download_links" id="{{file['id']}}">copy download link</button>
                <button class="get_links" id="{{file['id']}}">copy get link</button>
            </div>
            {% endfor%}
        </div>
    </main>
    <footer>
        <a href="{{url_for('logout')}}"><button>logout</button></a>
    </footer>

</body>
<script src="{{url_for('static',filename= 'home.js')}}"></script>
</html>